PySide6
pyttsx3
SpeechRecognition
pyautogui
psutil
requests
sounddevice
numpy
scipy
soundfile
edge-tts
opencv-python
opencv-contrib-python
Pillow
pycaw
screen-brightness-control
pyperclip
pygetwindow
trafilatura
duckduckgo-search
easyocr
torch
torchvision